<app-loader *ngIf="!ItineraryLoaded"></app-loader>
<span *ngIf="this.errorMessage">{{ errorMessage }}</span>

<div *ngIf="ItineraryLoaded && !this.errorMessage" class="itinerary-container">
  <div [ngClass]="{'disabled': isFirstScreen()}" (click)="previousScreen()" class="arrow arrow-previous">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
      <path d="M87.385 430.771l81.23 81.229 255.999-256.001-256.001-255.999-81.225 81.225 174.772 174.774z"></path>
    </svg>
  </div>
  <div class="itinerary-content">
    <h1>{{ itinerary.title }}</h1>
    <span *ngIf="ItineraryLoaded && !this.errorMessage">{{ itinerary.screens[screenNumber] }}</span>
  </div>
  <div [ngClass]="{'disabled': isLastScreen()}" (click)="nextScreen()" class="arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
      <path d="M87.385 430.771l81.23 81.229 255.999-256.001-256.001-255.999-81.225 81.225 174.772 174.774z"></path>
    </svg>
  </div>
</div>


