<div *ngIf="!ItineraryLoaded" class="itinerary-container center-items">
  <app-loader ></app-loader>
</div>

<div *ngIf="ItineraryLoaded && errorMessage" class="itinerary-container center-items">
  <div  class="alert alert-danger alert-dismissible fade show px-2">
    <strong>Error! </strong>{{ errorMessage }}
  </div>
</div>

<div *ngIf="ItineraryLoaded && !errorMessage" class="itinerary-container">
  <div [ngClass]="{'disabled': isFirstScreen()}" (click)="previousScreen()" class="arrow arrow-previous">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
      <path d="M87.385 430.771l81.23 81.229 255.999-256.001-256.001-255.999-81.225 81.225 174.772 174.774z"></path>
    </svg>
  </div>
  <div class="itinerary-content">
    <h1>{{ itinerary.title }}</h1>
    <app-screen class="screen-container" [idScreen]="itinerary.screens[screenNumber]"></app-screen>
  </div>
  <div [ngClass]="{'disabled': isLastScreen()}" (click)="nextScreen()" class="arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
      <path d="M87.385 430.771l81.23 81.229 255.999-256.001-256.001-255.999-81.225 81.225 174.772 174.774z"></path>
    </svg>
  </div>
</div>


